.footer {
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #555;
    margin-top: 100px;
}
  
.footer p {
    margin: 0;
    font-family: Arial, sans-serif;
}

@media (max-width:761px){

    .footer{
      margin-top:50px;    
    }
  
  }