.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height:50px;
    width:50px;
    margin-right: 4px;
}
.logo h2{
    font-size:xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}